{% extends "index.html" %}

{% block link1 %}
<a class="navbar-brand active" href="{% url "homeregin"%}">Home</a>
{% endblock %}
{% block link2 %}
<a class="nav-link active" href="{% url "registration"%}" tabindex="-1">Registrieren</a>
{% endblock %}
{% block link3 %}
<a class="nav-link active" href="{% url "signin"%}" tabindex="-1">Anmelden</a>
{% endblock %}


{% block content %}
<form action="usersignin" method="post">
    {% csrf_token %}
    {{ signin_form.as_p }}
    <button type="submit" class="btn btn-danger">Anmelden</button>
</form>
{% endblock %}