{% extends "index.html" %}

{% block home %}
<a class="navbar-brand">Anmelden</a>
{% endblock %}
{% block link1 %}
<a class="nav-link active" aria-current="page" href="{% url "homeregin"%}">Home</a>
{% endblock %}
{% block link2 %}
<a class="nav-link" href="{% url "registration"%}">Registrieren</a>
{% endblock %}
{% block link3 %}
<a class="nav-link" href="{% url "signin"%}">Anmelden</a>
{% endblock %}

{% block content %}
<form action="usersignin" method="post">
    {% csrf_token %}
    {{ signin_form.as_p }}
    <button type="submit" class="btn btn-danger">Anmelden</button>
</form>
{% endblock %}