{% extends "index.html" %}

{% block home %}
<a class="navbar-brand">To-Do-Liste</a>
{% endblock %}
{% block link1 %}
<a class="nav-link active" aria-current="page" href="{% url "hometodo"%}">Home</a>
{% endblock %}
{% block link2 %}
<a class="nav-link" href="{% url "todolist"%}">To-Do-Liste</a>
{% endblock %}
{% block link3 %}
<a class="nav-link" href="{% url "homeregin"%}">Abmelden</a>
{% endblock %}


{% block content %}
<ul>
    {% for todo in todos %}
        <div class="card p-3 m-3">
          <div class="card-header">
            {{ todo.title }}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><span title="{{ todo.title }}">{{ todo.description }}</span></p>
            </blockquote>
          </div>
        </div>
    {% endfor %}
</ul>

<form action="completetodo" method="post">
    {% csrf_token %}
    {{ todolist_form.as_p }}
    <button type="submit" class="btn btn-danger">Liste ergänzen</button>
</form>
{% endblock %}