{% extends "index.html" %}

{% block home %}
<a class="navbar-brand">To-Do-Liste</a>
{% endblock %}
{% block link1 %}
<a class="nav-link active" aria-current="page" href="{% url "hometodo"%}">Home</a>
{% endblock %}
{% block link2 %}
<a class="nav-link" href="{% url "todolist"%}">To-Do-Liste</a>
{% endblock %}
{% block link3 %}
<a class="nav-link" href="{% url "homeregin"%}">Abmelden</a>
{% endblock %}


{% block content %}
<ul>
    {% for todo in todos %}
        <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">{{ todo.description }}</p>
            <a href="{% url "complet"%}" class="btn btn-primary">Erledigt</a>
            <a href="{% url "delete"%}" class="btn btn-danger">Löschen</a>
          </div>
        </div>
    {% endfor %}
</ul>

<form action="completetodo" method="post">
    {% csrf_token %}
    {{ todolist_form.as_p }}
    <button type="submit" class="btn btn-primary">Liste ergänzen</button>
</form>
{% endblock %}